@import "tailwindcss";

@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareOTF_R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareOTF_B.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #3a3a3a;
}

@theme inline {
  /* 커스텀 색상 설정 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nanum: "NanumSquare", Arial, Helvetica, sans-serif;

  --color-medium-gray: #3a3a3a;
  --color-light-gray: #c5c5c5;
  --color-point-green: #65C57A;
  --color-point-red: #C8000B;
  --color-point-blue: #0A54B5;
  --color-point-orange: #FB832E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nanum);
}