@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3a3a3a;
}

@theme inline {
  /* 커스텀 색상 설정 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-black: #000000;
  --color-medium-gray: #3a3a3a;
  --color-light-gray: #c5c5c5;
  --color-soft-white: #f5f5f5;
  --color-point-green: #65C57A;
  --color-point-red: #C8000B;
  --color-point-blue: #0A54B5;
  --color-point-orange: #FB832E;
  --color-processing-point: #00B71B;
  --color-processing-bg: #026F16;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}